body{
    font-family: "program-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #f7c85d;
    color: #b31b1b;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #8f0000;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    text-align: center;
    background-color: #f9db9b;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.gallery img, .moodboard img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #f7c85d;
    color: #8f0000;
    text-align: center;
    padding: 3rem;
    
}
